.sidebarItem {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebarItem:hover {
  background-color: #bbd9d8;
}

.sidebarText {
  font-weight: 800;
  color: #004d40;
  letter-spacing: 1px;
}

.activeSidebarItem {
  border-left: 5px solid #004d40;
  background-color: #b2dfdb; /* a little more emphasis */
}
